@{
    ViewBag.Title = "Paylocity Coding Challenge";
}

<div class="jumbotron">
    <h1>Paylocity Coding Challenge</h1>
    <p class="lead"> Application to check the deductions of employee and dependents. </p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee</h2>
        <p />
        Main entity, with a salary of $2000 per paycheck before deductions. There are 26 paychecks in a year.
        The cost of benefits is $1000/year for each employee
        </p>
    </div>
    <div class="col-md-4">
        <h2>Dependents</h2>
        <p>Each dependent (children and possibly spouses) incurs a cost of $500/year</p> 
    </div>
    <div class="col-md-4">
        <h2>Discounts</h2>
        <p>Anyone whose name starts with ‘A’ gets a 10% discount, employee or dependent. Main assumption here is it can be a first or last name</p> 
    </div>
</div>